#newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* background-image: url(img/pawel-czerwinski-OY3slACa3ec-unsplash.jpg); */
    background-repeat: no-repeat;
    height: 50vh;
    background-size: cover;
    background-color: #554a4a;
    background-position: bottom;
    margin: 12px 0 0 0;
    padding: 0 20px;
  }
  
  #newsletter p {
    color: white;
    font-size: 1rem;
    font-weight: 600;
  }
  
  #newsletter h4 {
    color: white;
    font-size: 22px;
    font-weight: 700;
  }
  
  #newsletter p span {
    color: rgb(238, 105, 15);
    font-weight: bolder;
  }
  
  #newsletter .newsForm {
    display: flex;
    width: 40%;
  }
  
  #newsletter input {
    height: 3.14rem;
    width: 100%;
    font-size: 14 px;
    padding: 15px 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  #newsletter button {
    background-color: #00ABB3;
    color: white;
    padding: 0 20px;
    white-space: nowrap;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }