.navbar-logo {
    font-size: 50px;
    font-weight: bolder;
    text-decoration: none;
    list-style: none;
    color: #000001;
    transition: ease-in 0.3s;
  }
  
  #navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
  }
  
  #navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #040404;
    transition: 0.3s ease;
  }
  
  #navbar li a:hover,
  #navbar li a.active {
    color: #3C4048;;
  }
  
  #navbar li a.active::after,
  #navbar li a:hover::after {
    content: " ";
    width: 30%;
    height: 2px;
    background: #B2B2B2;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }