* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu Mono', monospace;
  box-sizing: border-box;
}


h1 {
  font-size: 58px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 52px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 25px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12 px;
}

p {
  font-size: 16 px;
  color: #222;
  opacity: 0.5;
  margin: 15px 0 20px 0;
}

body {
  width: 100%;
  background-color:EAEAEA;
}

.section-p1 {
  padding: 40px 40px;
}

.section-m1 {
  padding: 40px 0;
}

button.normal {
  font-size: 15px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #00ABB3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 0px;
  width: auto;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

.logoHeader {
  width: 100px;
  height: auto;
}

.navbar-logo {
  font-size: 50px;
  font-weight: bolder;
  text-decoration: none;
  list-style: none;
  color: #000001;
  transition: ease-in 0.3s;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #040404;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #3C4048;;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: " ";
  width: 30%;
  height: 2px;
  background: #B2B2B2;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* Home page */
#hero {
  /* background-image: url(/src/assets/banner_bg.png); */
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 25%;
  padding: 5px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: #EAEAEA;
}

#hero button {
  
  background-color: transparent;
  color: #EAEAEA;
  border: 1px solid #B2B2B2;
  padding: 10px;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold 700;
  background-repeat: no-repeat;
  transition: 0.2s ease-in;
}

#hero button:hover {
  background-color: #EAEAEA;
  color: #185c5e;
}

.img1 {
  width: 120px;
  padding-bottom: 15px;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}

#feature .fe-box {
  width: 150px;
  text-align: center;
  box-shadow: 20px 20px 34% rgba(0, 0, 0, 0.03);
  padding: 25px 15px;
  border: 1px solid #576bbc27;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.1);

}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 6px 8px 5px;
  line-height: 1;
  border-radius: 4%;
  color: #00ABB3;
  background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;

}

#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;

}

#feature .fe-box:nth-child(4) h6 {
  background-color: #f6dbf6;

}

#feature .fe-box:nth-child(5) h6 {
  background-color: #cdd4f8;

}

#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;

}

#product1 {
  text-align: center;
}

#product1 .pro {
  width: 21%;
  min-width: 240px;
  border: 1px solid #cce7d0;
  padding: 20px 12px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 20px 25px 32px rgba(0, 0, 0, 0.02);
  transition: 0.3 ease;
  position: relative;

}

#product1 .pro:hover {
  box-shadow: 20px 25px 32px rgba(0, 0, 0, 0.06);

}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5 {
  color: #1a1a1a;
  padding-top: 10px;
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 13px;
  color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #00ABB3;
}

#product1 .pro .cart {
  width: 40px;
  background-color: #e8f6ea;
  color: #00ABB3;
  height: 40px;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
  line-height: 40px;
  border-radius: 50px
}

#product1 .pro .cart:hover {
  background-color: #00ABB3;
  color: white;
}

#product1 .pro-container {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  flex-wrap: wrap;
}

#product1 .pro-container .pro {
  margin: 20px;

}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url(img/promo-banner1.jpg); */
  height: 45vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: #cce7d0;
  font-size: 16px;

}

#banner h2 {
  color: white;
  font-size: 30px;
  font-weight: 700;
  padding: 10px 0;

}

#banner h2 span {
  color: rgb(100, 15, 15);
}

#banner button:hover {
  background-color: #00ABB3;
  color: white;
}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

#sm-banner .banner-box:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* background-image: url(img/sm-banner.jpg); */
  height: 55vh;
  width: 45%;
  margin: auto;
  margin-bottom: 15px;
  padding: 0px 20px;
  background-size: cover;
  background-position: top 75% right 100%;
}

#sm-banner .banner-box:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* background-image: url(img/promo-banner4.jpg); */
  height: 55vh;
  width: 45%;
  margin: auto;
  padding: 0px 20px;
  background-size: cover;
  background-position: top 75% right 100%;
}

#sm-banner h4 {
  color: rgb(18, 18, 18);
  font-size: 20px;
  font-weight: 700;
  padding: 10px 0;
}

#sm-banner h2 {
  color: #fff;
  font-size: 40px;
  font-weight: bold 700;
  padding: 12px 0;
}

#sm-banner span {
  color: rgb(0, 0, 0);
  padding-bottom: 15px;
  font-weight: 800;
}

#sm-banner button {
  font-size: 15px;
  font-weight: bolder;
  padding: 10px 20px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  box-shadow: #1a1a1a;
  outline: none;
  transition: 0.2s;
}

#sm-banner button:hover {
  background-color: #00ABB3;
  color: white;
  border: 1px solid #00ABB3;

}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* background-image: url(img/promo-banner1.jpg); */
  height: 50vh;
  width: 30%;
  /* width: auto; */
  margin: 0 20px;
  background-size: cover;
  /* background-position: cente;  */
}

#banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}

#banner3 .banner2 {
  /* background-image: url(img/promo-banner3.jpg); */

}

#banner3 .banner22 {
  /* background-image: url(img/banner\ 2.jpg); */
}

#banner3 h3 {
  color: #fff;
  font-weight: 900;
  font-size: 15px;
  color: #576CBC;
}

#newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* background-image: url(img/pawel-czerwinski-OY3slACa3ec-unsplash.jpg); */
  background-repeat: no-repeat;
  height: 50vh;
  background-size: cover;
  background-color: #554a4a;
  background-position: bottom;
  margin: 12px 0 0 0;
  padding: 0 20px;
}

#newsletter p {
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

#newsletter h4 {
  color: white;
  font-size: 22px;
  font-weight: 700;
}

#newsletter p span {
  color: rgb(238, 105, 15);
  font-weight: bolder;
}

#newsletter .newsForm {
  display: flex;
  width: 40%;
}

#newsletter input {
  height: 3.14rem;
  width: 100%;
  font-size: 14 px;
  padding: 15px 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: #00ABB3;
  color: white;
  padding: 0 20px;
  white-space: nowrap;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.app-img {
  width: 300px;
  height: 120px;
  border: 1px solid #00ABB3;
  border-radius: 5px;
  margin: 10px 0 10px 0;
}

.pay-img {
  width: 65%;
  height: 80px;
  border: 1px solid #00ABB3;
  border-radius: 5px;
  margin: 10px 0 10px 0;
}

footer {
  background-color: #00ABB3;
}

footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

footer .app {
  width: auto;
}

footer h4 {
  margin-bottom: 20px;
  font-size: 14;
}

footer p {
  margin-bottom: 13px;
}

footer a {
  margin: 0 0 8px 0;
  color: #1a1a1a;
  text-decoration: none;
}

footer .logo {
  margin-bottom: 30px;
}

footer .follow {
  margin-top: 20px;
  color: rgb(0, 0, 0);
}

footer .follow i {
  padding-right: 12px;
}

footer .follow i:hover,
footer a:hover {
  color: #00ABB3;
}

footer .copyright {
  margin-top: 30px;
  text-align: center;
}













/*S








































































/* Start Media query */
@media (max-width: 1024px) {
  #banner3 .banner-box {
      height: 50vh;
      width: 300px;

  }
}

@media (max-width: 912px) {
  #feature .fe-box {
      padding: 25px 1px;
      width: 150px;
      text-align: center;
      /* padding: 25px 100px; */
      padding: 25px 5px;
      border: 1px solid #cce7d0;
      margin: 40px;
  }

  #sm-banner .banner-box {
      height: 38vh;
      min-width: 100%;
  }

  #banner3 {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      flex-wrap: wrap;
  }

  #banner3 .banner-box {

      width: 100%;
      margin-bottom: 30px;
  }
}

@media (max-width:799px) {
  #navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      right: -300px;
      width: 300px;
      background-color: #E3E6F3;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 80px 0 0 10px;
      transition: 0.5s;
  }

  .navbar-logo {
      font-size: 30px;
  }

  #navbar.active {
      position: absolute;
      right: 0px;
  }

  #navbar li {
      margin-bottom: 25px;
  }

  #navbar li:hover {
      color: #00ABB3;
  }

  #navbar a#close {
      text-decoration: none;
  }

  #mobile {
      display: flex;
      align-items: center;
  }

  #mobile i {
      color: #1a1a1a;
      font-size: 24px;
      padding-left: 20px;
  }

  #close {
      display: flex;
  }

  #close {
      position: absolute;
      top: 30px;
      left: 30px;
      font-size: 25px;
      color: #222;
  }

  .lg-bag {
      display: none;
  }

  #hero {
      height: 70vh;
      background-position: top 30% right 30%;
      padding: 5px 80px;
  }

  #feature {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

  }

  #feature .fe-box {
      margin: 10px 25px;
      padding: 25px 25px;
      border: 1px solid #cce7d0;
  }

  #product1 .pro-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
  }

  #banner {
      height: 25vh;
      width: 100%;
      background-size: cover;
      background-position: center;
  }

  #sm-banner .banner-box {

      margin: 10px 20px;
      padding: 0px 20px;
      min-width: 100%;
      height: 30vh;
  }

  #banner3 {
      display: none;
      /* padding: 5px 40px; */
      justify-content: space-between;
      min-width: 100%;
      margin-left: 10px;
  }

  #banner3 .banner-box {
      width: 100%;
      margin: 0 0 15px 0;
  }

  #newsletter {

      height: 35vh;

  }

  #newsletter .newsForm {
      display: flex;
      width: 70%;
  }
}

@media (max-width:477px) {
  #header {

      padding: 20px 40px;

  }

  .navbar-logo {
      font-size: 30px;
  }

  #hero {
      height: 70vh;
      background-position: 40%;
      padding: 5px 40px;

  }

  #hero h2 {
      font-size: 42px;
      line-height: 50px;
      color: #ffffff;
  }

  #hero h1 {
      color: #00ABB3;
      font-size: 50px;
  }

  #hero p {
      font-size: 35 px;
      color: #ffffff;
      font-weight: 500;
      margin: 15px 0 20px 0;
  }

  #feature {
      padding: 20px;
      justify-content: space-between;
  }

  .img1 {
      width: 100%;
      padding-bottom: 15px;
  }

  #feature .fe-box {
      width: 100px;
      text-align: center;
      box-shadow: 20px 20px 34% rgba(0, 0, 0, 0.03);
      padding: 25px 15px;
      border: 1px solid #cce7d0;
  }

  #product1 h2 {
      font-size: 37px;

  }

  #product1 p {
      font-size: 25px;
  }

  #product1 .pro {
      width: 100%;
  }

  #sm-banner .banner-box {
      margin: 10px 20px;
      padding: 0px 20px;
      min-width: 100%;
      height: 40vh;
  }

  #banner h2 {
      color: white;
      font-size: 30px;
      font-weight: 700;
      padding: 10px 20px;
  }

  #banner3 {
      display: none;
  }

  #banner3 .banner-box {
      width: 100%;
  }

  #banner3 .banner2 {
      margin: 15px 0;
  }

  .carousel-container {
      display: none;
  }

  #newsletter {
      padding: 20px 20px;
      height: 22vh;
  }

  #newsletter .newsForm {
      width: 100%;
  }
}

@media (max-width:375px) {
  #hero {
      height: 80vh;
      background-position: 40%;
      padding: 20px 20px;
  }

  #hero button {

      color: #00ABB3;
      border: 2px solid #00ABB3;
      padding: 18px;
      font-size: 20px;

  }

  #hero p {
      font-size: 35 px;
      color: rgb(0, 0, 0);
      font-weight: 500;
      margin: 15px 0 20px 0;
  }

  #hero h1 {
      color: #00ABB3;
      font-size: 40px;
  }

  #banner {
      height: 40vh;
      width: 100%;
      background-size: cover;
      background-position: center;
  }

  #sm-banner .banner-box:nth-child(1) {
      height: 70vh;
      width: 50%;
      margin: auto;
      margin-bottom: 30px;


  }

  #sm-banner .banner-box:nth-child(2) {
      height: 50vh;
      width: 50%;
      margin: auto;

  }

  #newsletter {
      padding: 20px 20px;
      height: 28vh;
  }
}

@media (max-width:280px) {
  .navbar-logo {
      font-size: 25px;
  }

  #feature .fe-box {
      width: 70px;
      min-width: 40%;
      text-align: justify;
      margin: 0;
      padding: 25px 15px;
      max-width: 50%;
      border: 1px solid #cce7d0;
  }

  #banner {
      height: 45vh;
      width: 100%;
      background-size: cover;
      background-position: center;
  }

  #banner h4 {
      color: #576CBC;
      font-size: 19px;
      text-align: center;
  }

  #sm-banner h2 {
      color: #fff;
      font-size: 30px;
      font-weight: bold 700;
      padding: 8px 0;
  }

  #newsletter {
      padding: 20px 20px;
      height: 28vh;
  }

  #newsletter h4 {

      font-size: 18px;
  }

  .app-img {
      min-width: 150px;
      height: 120px;
      border: 1px solid #00ABB3;
      border-radius: 5px;
      margin: 10px 0 10px 0;
  }
}

/* #cart_count {
  position: absolute;
  font-size: 12px;
  padding: 12px;
   width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  right: -6px;
  top: -6px;
  display: flex;
  justify-content: center;
  align-items: center;
} */